/* Footer Section */
.footer {
    background: linear-gradient(#fff 10%, #86EAD4 35%, #87EAD4 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.footer-desc {
    margin-top: 265px;
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-content: center;
    z-index: 1;
}

.footer-heading {
    color: #5F6563;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.08px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.footer-text1 {
    color: #1A211E;
    text-align: center;
    margin-top: 40px;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.16px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.footer-text2 {
    color: #1A211E;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.16px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.footer .footer-join {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.footer-join .btn-join {
    display: flex;
    height: 48px;
    background-color: #16433C;
    padding: 0 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
    color: #FBFDFC;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.04px;
}

.footer-heading.slide-in,
.footer-text1.slide-in,
.footer-text2.slide-in,
.footer-join.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.extension {
    height: 80px;
}

.footer-imgs {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    overflow-x: hidden;
}

.footing-one {
    position: absolute;
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    bottom: 0%;
}

.footing-two {
    position: absolute;
    width: 182.5px;
    height: 365px;
    flex-shrink: 0;
    top: 15%;
    right: 0%;
}

.footer-hex1 {
    position: absolute;
    width: 95px;
    height: 108px;
    top: 40%;
    left: 15%;
}

.footer-hex2 {
    position: absolute;
    width: 95px;
    height: 108px;
    bottom: 10%;
    right: 15%;
}

/* Mobile responsive */
@media (max-width: 600px) {
    .hero {
        margin-top: 5%;
        overflow-x: hidden;
    }

    .hero-heading {
        margin-top: 0%;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.12px;
        width: 90%;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }

    .hero-text {
        margin-top: 10px;
        width: 85%;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
    }

    .footer-hex1,
    .footer-hex2 {
        display: none;
    }

    .footer-desc {
        padding: 0 0 50px 0;
    }

    .extension {
        height: 20px;
    }
}